.js-dropzone
  position relative
  > div
    position: absolute
    top: 0
    left: 0
  .dz-preview
    border: 1px solid rgba(#000, 0.2)
    border-radius: 6px
    padding: 0.25em
    display inline-block
    width 80px
    height: 80px
    overflow: hidden
    position: relative
    margin-right: 0.5em
    margin-top: 0.5em
  .dz-image
    border: 1px solid rgba(#000, 0.05)
    max-width: 100%
    max-height: 100%
    overflow: hidden
    border-radius: 4px
    display: block
    img
      max-width: 100%
  .dz-progress
    display block
    height 10px
    border: 1px solid rgba(#000, 0.5)
    width: 80%
    position: absolute
    top: calc(50% - 5px)
    left: 10%
    border-radius: 10px
    padding: 2px
  .dz-upload
    display block
    height 100%
    width 0
    background: pink
    border-radius: 100px
  .dz-error-message
    color red
    display none
  .dz-details
    display: none
  .dz-success
    .dz-progress
      display: none !important
    .dz-success-mark
      display: block !important
      position: absolute !important
      top: 11px;
      left: 11px;

.js-dropzone
  .dz-preview.dz-error .dz-error-message
  .dz-preview.dz-error .dz-error-mark
    display: block;
    top: 11px;
    left: 11px;
    position: absolute !important

.js-dropzone
  .dz-error-mark
  .dz-success-mark
    display none

