@media (max-width: 768px)
  table.table-responsive
    > thead, > tbody, th, td, tr
      display block

    thead
      display: none
      tr
        position absolute
        top -9999px
        left -9999px
    tr
      width: 100%
      border-bottom: 2px solid rgba(#000, 0.25)
    td
      text-align: left !important
      border none !important
      width: 100% !important


    .item-info
      display: table
      width: 100%
      tr
        display: table-row
        border-bottom: 0 !important
      td
        display: table-cell !important
        width: auto !important
