pink = #CC3366
$link-color = pink
$text-color = #000
$brand-primary = pink
$navbar-default-bg = pink
$navbar-default-border = transparent
$navbar-default-color = #fff
$navbar-default-link-color = #fff
$navbar-default-link-hover-color = #fff
$navbar-default-link-hover-bg = #000
$navbar-default-link-active-color = #fff
$navbar-default-link-active-bg = #000

@import 'bootstrap'
@import 'components/*.styl'

.navbar-default .navbar-toggle .icon-bar
  background-color: #fff

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
  background-color: #000
  border-color: #000

.filters-bar
  padding: 1em 0
  select, input
    margin-bottom: 0.25em


.item-info
  font-size: 0.8em
  td
    padding: 0.25em 0
  td:first-child
    opacity: 0.5
    padding-right: 1em

.vertical-align
  display: flex
  align-items: center
  justify-content: center
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0

.panel-heading
  font-weight: bold